<% include head %>
<% include navbar %>
	
<div class="container-fluid">		
	<div class="row-fluid">	
		<p>Michael Michelotti, <a href="mailto:mmichelotti@toyotasm.com?Subject=From%20the%20MISHA%20Contact%20Page">mmichelotti@toyotasm.com</a> (805) 602-1667</p>
		<p>Charles Anderson, <a href="mailto:canderson@toyotasm.com?Subject=From%20the%20MISHA%20Contact%20Page">canderson@toyotasm.com</a> (805) 709-5810</p>
		<br>
		<br>
		<br>
		<p><small>Contact information is used for emergency contact only. Please use the MISHA helpdesk ticketing system for all technical issues.</small></p>
	</div>	
</div>

<% include foot %>