<% include head %>
<% include navbar %>


<div class="container-fluid">	
	<div class="row-fluid">	
		<div class="hero-unit">
			<h1>Error</h1>
		</div>
	</div>
	<div class="row-fluid">
		<div class="well">
			<p class="text-error">There appears to be a database connection error...</p>
			<p class="text-info">The good news is, a re-connection attempt is being made every 5 seconds.  Please try back in a moment!</p>
		</div>
	</div>
	<div class="row-fluid">	
		
		<img class="pull-right" src="/img/misha_big_error.png">			
	</div>	
</div>






<% include foot %>