<% include head %>
<% include navbar %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="page-header">
			<h2><%=title%> Docs <small>Honda of Santa Maria</small></h2>
		</div>			
	</div>

	<div class="row-fluid">
		
		<div class="span12">
			<div class="well sidebar-nav">
			
				<ul class="nav nav-list"> 
					<% db_docs.forEach(function(tmp) { %>
						<li id="<%=tmp["_id"]%>"><a target="_blank" href="<%=tmp["url"]%>"><%=tmp["name"]%></a></li>						
					<% }) %>
				</ul>
				
			</div><!--/.well -->
		</div>		
	</div>
	<HR>
</div>


<script>
	$(document).ready(function() {
		var old_link = '';
		var new_link = '';
		$('a').click(function() {			
			if (old_link == '') {
				old_link = $(this).parent().attr('id');
				$('#' + old_link).toggleClass('active');					
			}
			else {
				$('#' + old_link).toggleClass('active');
				old_link = $(this).parent().attr('id');
				$('#' + old_link).toggleClass('active');
			}				
		});
	});
</script>

<% include foot %>