<% include head %>
<% include navbar %>


<div class="container-fluid">	
	<div class="row-fluid">	
		<div class="hero-unit">
			<h1>Error</h1>
		</div>
	</div>
	<div class="row-fluid">
		<div class="well">
			<p class="text-error">There appears to be a database connection error...</p>
			<p class="text-info">
				The bad news is, Node.js is a mess of nested functions and callbacks and this page calls both databases.
				The next step would be to visit any Links or Docs page, this will attempt to re-open the specific connection... Otherwise Mr. Admin, it's time to troubleshoot! 
			</p>
		</div>
	</div>
	<div class="row-fluid">	
		
		<img class="pull-right" src="/img/misha_big_error.png">			
	</div>	
</div>






<% include foot %>