<% include head %>
<% include navbar %>

		
		<% var count = 0 %>
		
		
		<% db_links.forEach(function(tmp) { 
			 if (count == 0) { %>
				<div class="row-fluid">
			<% } %>
					<div class="span3">
						<center>
							<a href="<%= tmp["url"] %>" target="_blank"><img src="<%= tmp["icon"] %>"></a>
							<p><%= tmp["name"] %></p>
						</center>
					</div>			
			<% count = count + 1 %>
			<% if (count == 4) { %>
				</div>
			<% count = 0 %>
			<% } %>
			
		<% }) %>
		<% if (count < 4) { %>
			</div>
		<% } %>
		
		<HR>
		<footer>
			
		</footer>		
	</div>

<% include foot %>
